name: CheckMetadataSchema.yaml

on:
  pull_request:
    paths:
      - 'Molecules/membrane/*/metadata.yaml'
      - 'Molecules/solution/*/metadata.yaml'

jobs:
  validate:
    runs-on: ubuntu-latest
    
    # Fix container configuration
    container:
      image: nmrlipids/core
      options: --user 1001:118 # run container as uid=1001,gid=118 to match the GitHub runner user
      env:
        FMDL_DATA_PATH: ${{ github.workspace }}/BilayerData

    steps:
      - name: Checkout BilayerData
        uses: actions/checkout@v5
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          path: BilayerData
          
      - name: Checkout Databank
        uses: actions/checkout@v5
        with:
          repository: NMRlipids/FAIRMD_lipids
          ref: main
          path: Databank        
          
      - name: Install Databank dependencies
        working-directory: Databank
        run: |
          pip install .
          
      - name: Install check-jsonschema
        run: pip install check-jsonschema==0.34.1

      - name: Validate metadata.yaml files
        working-directory: BilayerData
        run: |
          for file in Molecules/membrane/*/metadata.yaml Molecules/solution/*/metadata.yaml; do
            if [ -f "$file" ]; then
              check-jsonschema --schemafile ../Databank/src/fairmd/lipids/SchemaValidation/Schema/metadata_schema.json "$file"
            fi
          done
