name: Validate info file
permissions:
  contents: read

on:
  pull_request_target:
    types: [opened, synchronize]
    paths:
      - 'UserData/**'
jobs:
  ValidateInfoFile:
    if: "${{ github.event.pull_request.head.repo.full_name == 'NMRlipids/UserData' && github.repository == 'NMRlipids/BilayerData' }}"
    runs-on: ubuntu-latest
    container:
      image: nmrlipids/core
      options: --user 1001:118 # run container as uid=1001,gid=118 to match the GitHub runner user
    env:
      FMDL_DATA_PATH: ${{ github.workspace }}/BilayerData
    steps:
      - name: Checkout BilayerData
        uses: actions/checkout@v6
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          path: BilayerData
          persist-credentials: false
  
      - name: Check if info.yml exists
        id: check_info
        working-directory: BilayerData
        shell: bash
        run: |
          if [ -f "UserData/info.yml" ]; then
            echo "found=true" >> $GITHUB_OUTPUT
            echo "info.yml found"
          else
            echo "found=false" >> $GITHUB_OUTPUT
            echo "info.yml not found, skipping further steps"
          fi

      - name: Checkout Databank
        if: steps.check_info.outputs.found == 'true'
        uses: actions/checkout@v6
        with:
          repository: NMRLipids/Databank
          ref: main
          path: Databank

      - name: Run dry run of AddData 
        if: steps.check_info.outputs.found == 'true'
        env:
          TQDM_DISABLE: True
        working-directory: Databank
        run: |
          pip install .
          python developer/process_info_file.py \
            --info_file_path ../BilayerData/UserData/info.yml --dry-run